@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda Telefonica</h1>
    <p class="lead">Un proyecto creado con el objetivo de practicar los nuevos conocimientos de programación.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <img src="~/Imagenes/vue.png"  class="img-responsive" width="200" height="280"/>
        <p>
            Vue (pronunciado / vjuː /, como ver ) es un marco progresivo para construir interfaces de usuario. A diferencia de
            otros marcos monolíticos, Vue está diseñado desde cero para ser adoptable incrementalmente. 
        </p>
        <p><a class="btn btn-default" href="https://vuejs.org/v2/guide/"  target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <img src="~/Imagenes/entityframework.png" class="img-responsive" width="400" height="600"/>
        <p>  
            Es un conjunto de API de acceso a datos para el Microsoft .NET Framework, apuntando a la versión de ADO.NET que se incluye con el 
             .NET Framework 3.5. Fue lanzado como actualización separada junto con el Service Pack 1 para el .NET Framework, después del 
             lanzamiento de tanto el .NET Framework 3.5
        </p>
        <p><a class="btn btn-default" href="https://msdn.microsoft.com/es-es/library/bb399572(v=vs.110).aspx"  target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <img src="~/Imagenes/csharp-e7b8fcd4ce.png" class="img-responsive" width="190" height="150"/>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/csharp/  target="_blank"" >Learn more &raquo;</a></p>
    </div>
</div>